extends layout

block extra_headers
	script(type='text/javascript', src="/js/rdflib.js")
block content
	.row.text-center
		h1 Testing Performance
	.row 
		div(id="output")
	.row
		button.btn.btn-default(id="testget") Get
		button.btn.btn-default(id="testwrite") Write

	.row
		button.btn.btn-default(id="testgetposts") Get Posts
		button.btn.btn-default(id="testgetpost") Get Post
		button.btn.btn-default(id="testgetcomments") Get Comments
		button.btn.btn-default(id="testgetlikes") Get Likes
		button.btn.btn-default(id="testgetalbums") Get Albums
		button.btn.btn-default(id="testgetalbum") Get Album
		button.btn.btn-default(id="testgetimage") Get Photo


		button.btn.btn-default(id="testwritepost") Write Post
		button.btn.btn-default(id="testwritecomments") Write Comments
		button.btn.btn-default(id="testlikeobject") Like Object
		button.btn.btn-default(id="testuploadimage") Upload Image
		button.btn.btn-default(id="testcreatealbum") Create Album

		button.btn.btn-default(id="testaddfriend") Add Friend

	script(type='text/javascript', src="/js/test_perf.js")